.breaktime{
    background-color: lightgray;
    padding: 7px;
    margin-top: 20px;
    width: 300px;
    display: flex;
    justify-content: space-between;
}
@media screen and (max-width: 520px) {
    .breaktime{
        width: 286px;
      }
   
}