.extercise_info{
    background-color: lightgray;
    padding: 7px;
    display: flex;
    justify-content: space-between;
    width: 300px;
}
@media screen and (max-width: 520px) {
    .extercise_info{
        width: 286px;
      }
}
@media screen and (max-width: 780px) {
    .extercise_info{
        width: 95%;
      }
}