.parent_header{
  display: grid;
  grid-template-columns: 3fr 1fr;
}
.product_container{
  height: 100%;
  margin: 0px 100px;
}
.product_container_title{
  margin-bottom: 100px;
}
.activity_container{
  height: 100%;
}
.activity_btn{
  margin-top: 80px;
}
.activity_btn button{
  padding: 10px 30px;
  margin-left: 100px;
  background-color: lightblue;
  border: none;
  border-radius: 3px;
}
.todays_exercise h4{
  margin-top: 10px;
  margin-bottom: -20px;
}
@media screen and (max-width: 778px) {
  .parent_header{
    display: grid;
    grid-template-columns: 1fr;
  }
  .activity_container{
    width: 597px;
    margin-left: 100px;
  }
}
@media screen and (max-width: 520px) {
  .parent_header{
    display: grid;
    grid-template-columns: 1fr;
  }
  .activity_container{
    width: 300px;
    margin-left: 60px;
  }

}